doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title #{title} – Saleté Sincère
    link(rel="stylesheet", href="/style.css")
  body.bg-gray-900.text-gray-100.font-sans
    // Top Banner
    .bg-yellow-300.text-black.text-center.p-2
      | ⚠️ Prototype en travaux. Certaines fonctionnalités ne sont pas encore disponibles.
    
    block header
    
    block content
